.App {
  max-width: 400px;
  margin: auto auto;
  text-align: center;
}

.App footer {
  font-size: 10px;
  text-align: center;
  color: white;
}

.App h1 {
  font-size: 26px;
}
.App h2 {
  display: inline;
  font-weight: 800;
}
.App body {
  background-color: #b591ca;
}
.App ul {
  list-style: none;
  text-align: right;
}
.App li {
  font-size: 16px;
}
.App p {
  text-align: center;
  font-size: 13px;
}
