.WeatherForecast {
  text-align: center;
  margin-top: 30px;
  border: solid 1px pink;
  border-radius: 20px;
  padding: 9px;
}

.WeatherForecase .forcastTempMin {
  opacity: 0.6;
  margin-left: 5px;
}
